*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
body{
    display:flex;
    min-height:100vh;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-image:url('./imagens/notas_musicais.jpg');
    background-size:cover;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
  color:#333;
  font-size:35px;
  font-style:italic; 
  margin-bottom:25px; 
}
.keys{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
}
.key{
    width:80px;
    height:80px;
    border:2px solid #ccc;
    border-radius:10px;
    background-color:#333;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    font-weight:bold;
    color:#fff;
}
.key.active{
    border:2px solid #ff0;
    color:#ff0;
}
.composer{
    width:260px;
    margin-top:20px;
}
.composer input{
    width:100%;
    outline:none;
    font-size:15px;
    padding:10px;
    border-radius:3px;
    border:0;
}
.composer button{
    width:100%;
    height:40px;
    background-color:rgba(50,50,50,0.9);
    
    border: 1px solid #ccc;
    font-size:17px;
    letter-spacing: 2px;;
    color:#fff;
    margin-top:10px;
    cursor:pointer;
    font-style:oblique;
    border-radius:3px;

}
.composer button:hover{
    background:rgb(50,50,50);
}
footer{
    color:#0000ff;
    margin-top:30px;
}
footer p{
    display:inline-block;
    margin:20px 10px;
    background-color:#ccc;
    
}